@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Livvic:400,600&display=swap');

a, a:hover {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

* {
    list-style: none;
    border: none;
    text-decoration: none;
}

:root {
    /*--text-gray: #3F4954;*/
    --lexend: 'Lexend Deca', sans-serif;
    --livvic: 'Livvic', sans-serif;
}

/* ------------------ navbar ----------------- */
#header {
    height: 10vh;
    background: #fcecdc;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}


body {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.container1 {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    width: 90%;
    margin: 0;
    /*border: solid 2px black;*/
}

.container {
    width: 1140px;
    margin: 0 auto;
    /*border: solid 2px black;*/
}

nav {
    padding: 25px 2rem;
    background: #fcecdc;
    position: relative;
    justify-content: space-between;
    height: 0rem;
    min-height: 10vh;
    overflow-y: hidden;
    transition: height 1s cubic-bezier(0.26, -0.01, 0, 1.01);
}

nav .nav-brand a {
    display: block;
    padding: 1rem 0;
    font-family: var(--lexend);
    font-size: 1.6rem;
}

nav .nav-items {
    list-style-type: none;
    margin: 0;
}

nav .nav-items .nav-link {
    padding: 1.3rem 1rem;
    font-family: var(--livvic);
    font-size: 1.1rem;
}

nav .nav-items .nav-link:hover {
    background-color: #0f0f0f;
}

nav .nav-items .nav-link:hover a {
    color: white;
}

nav .social {
    padding: 1.4rem 0;
}

nav .social i {
    padding: 0 .2rem;
}

nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
}

nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 4rem;
}

nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
}

.collapse {
    height: 30rem;
}

/* creating own toggle icons  */
.icon, .icon::before, .icon::after {
    position: relative;
    width: 10px;
    border: 2px solid #3F4954;
    border-radius: 3rem;
    display: inline-block;
    transition: all .8s ease;
    transition-property: width, left;
}

.icon::before {
    content: " ";
    position: absolute;
    top: 5px;
    width: 20px;
    left: -12px;
}

.icon::after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -2px;
}

.toggle-click, .toggle-click::before, .toggle-click::after {
    width: 20px;
}

.toggle-click::before {
    left: -2px;
}

.btn {
    margin-top: 10px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    width: 139px;
    height: 44px;
    background: #E67E22;
    border-radius: 8px;
}

.text-black {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;

    color: #333333;
}

@media only screen and (max-width: 768px) {
    nav .nav-items {
        text-align: center;
        flex-direction: column;
    }

    nav {
        flex-direction: column !important;
        display: block !important;
    }

    nav .toggle-collapse {
        display: initial;
    }

    .btn {
        margin-left: 185px;
        text-align: center;
    }

    .toggle-icons {
        margin-left: -20px;
    }


}


#best {
    background: #E5E5E5;
}


#hero {

    background: #fcecdc;
    padding: 7% 0;
}

.them {
    display: flex;
    justify-content: space-between;
}

.hero__title {
    width: 558px;
    height: 171px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: #333333;
}

.hero__subtitle {
    margin-top: 32px;
    width: 558px;
    height: 96px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #555555;
}

.hero__buttons {
    margin-top: 32px;
}

.right__button {

    padding: 12px 24px;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
    background: #E67E22;
    border-radius: 8px;
}

.right__button:hover {
    background: #D97116;
}

.right__button:active {
    background: rgba(230, 126, 34, 0.5);
}

.left__button {
    font-size: 17px;
    line-height: 20px;
    color: #555555;
    padding: 12px 24px;
    position: absolute;
    margin-left: 30px;
    background: #FFFFFF;
    border-radius: 8px;
}

.image {
    margin-top: 32px;
    position: relative;
}

.images2 {
    margin-left: -25px;
}

.images3 {
    margin-left: -25px;

}

.images4 {
    margin-left: -25px;
}

.images5 {
    margin-left: -25px;

}

.images6 {
    margin-left: -25px;

}

.oot {
    margin-bottom: 15px;
    margin-left: 20px;
}

.photo {
    margin-left: 12%;
}

.img1 {
    width: 304px;
    height: 336px;
}

.img2 {
    width: 315px;
    height: 252px;
    margin-left: 25%;
    margin-top: -40%;
}

.img3 {
    width: 393px;
    height: 262px;
    margin-left: -35%;
    margin-top: -35%;
}

#best {
    background: #FFFFFF;
}

.in {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #888888;
}

.tell {
    margin-top: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #333333;
}

.smart {
    ont-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #555555;
    width: 558px;
    height: 96px;
    margin-top: 40px;
}

.featur img {
    margin: 20px 0 0 50px;
}

.how {
    margin-top: 40px;
}

.it {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #E67E22;
}

.dose {
    margin-top: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #333333;
}

.phon {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.one {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 85px;
    color: #DDDDDD;
}

.app {
    /*margin-top: 5%;*/
    margin-left: -13%;
    width: 330px;
    height: 321px;
    background: #FFF3E9;
    border-radius: 50%;
}

.paa {
    margin-top: -85%;
    width: 242px;
    height: 242px;
    left: 1010px;
    top: 1285px;
    border-radius: 50%;
    background: #FFD8B7;
}

.screen {
    width: 182px;
    height: 369px;
    margin-top: -95%;
    margin-left: 10%;
}

.phone1 {
    margin-left: 10%;
    margin-top: 40px;
}

.phone2 {
    margin-top: 40px;
}

.meals {
    margin-top: 40px;
    text-align: center;
}

.meal {
    font-size: 17px;
    line-height: 20px;
    color: #E67E22;
}

.from {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #333333;
}

.cards {
    border: solid 2px black;
    display: flex;
    justify-content: space-around;
}

.card {
    margin-top: 40px;
    width: 323px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 0px 1px 15px 4px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

.card_btn {
    margin: 20px 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    color: #333333;
    padding: 4px 10px;
    background: #51CF66;
    border-radius: 25px;
}

.card_btn1 {
    margin-left: -20px;
    font-size: 13px;
    line-height: 15px;
    color: #333333;
    padding: 4px 8px;
    background: #F2C94C;
    border-radius: 25px;
}

.card_japan {
    margin: 10px 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.color {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
}

.card_vector1 {
    margin: 20px 40px;
}

.card_text {
    margin-top: 40px;
}

.work {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: #333333;
}

.card__group {
    display: flex;
}

.card__group p {
    margin: 15px 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
}

#peak {
    background: #FDF2E9;
    height: 850px;
    flex-wrap: wrap;
    display: flex;
}

.peak {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.peak_img {
    padding: 10px 0;
}

.mono {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #E67E22;
}

.back {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    color: #333333;
}

.peak_dave {
    margin: 30px 10px;
}

.and {
    /*margin-top: 10px;*/
    width: 196px;
    height: 115px;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #555555;
}

.dave {
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #999494
}

.svg {
    width: 200px;
    height: 180px;
}

.people {
    display: flex;
    justify-content: flex-start;
    margin-top: -55%;
    padding: 0 20px;
    gap: 10%;
}

.tests {
    width: 150px;
    height: 250px;
}

.great {
    width: 215px;
    height: 115px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #555555;
    margin-top: 30px;
}

.bry {
    margin-top: 10px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    color: #999494;
}

.people1 {
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    /*margin-top: -40%;*/
    padding: 0 20px;
    gap: 10%;
}

#pricing{
    padding-top: 5%;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
}
.money{
    padding-top: 10%;
    display: flex;
    justify-content: space-evenly;
}
.king{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;

    color: #E67E22;
}
.well{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #333333;
}
.starter{
    width: 440px;
    height: 543px;
    border: 1px solid #FFD8B7;
    border-radius: 12px;
}
.start{
    margin-top: 10%;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #E67E22;
}
.som span{
    text-align: center;
    font-size: 32px;
    line-height: 38px;
    color: #333333;
}
.som{
    margin-top: 3%;
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #333333;
}
.per{
    margin-top: 2%;
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #555555;
}
.car{
    margin-top: 10%;
}
.con{
    margin:5% 15%;
    display: flex;
}
.order{
    margin-left: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #555555;
}
.con1{
    margin:5% 15%;
    display: flex;
}
.con2{
    margin:5% 15%;
    display: flex;
}
.con3{
    display: flex;
    margin:5% 15%;
}
.btn_well{
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 12px 24px;
    width: 183px;
    height: 44px;
    background: #E67E22;
    border-radius: 8px;
    margin:5% 25%;
}
.starter1{
    width: 440px;
    height: 543px;
    box-sizing: border-box;
    background: #FEECDE;
    border-radius: 12px;
}
/*.rec{*/
/*    margin-left: 63%;*/
/*    margin-top: 10%;*/
/*    width: 200px;*/
/*    height: 30px;*/
/*    background: #F2C94C;*/
/*    transform: rotate(45deg);*/
/*    font-weight: 700;*/
/*    font-size: 15px;*/
/*    line-height: 18px;*/
/*    text-align: center;*/
/*    color: #333333;*/
/*}*/

/*.best{*

/*    margin-top: 6px;*/
/*}*/



#contact{
    margin-top: 118px;
    /*background: #E5E5E5;*/
    min-height: 100vh;
}
.contact{
    height: 480px;
    background: #E98F40;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}
.leave__contacts{
    padding-left: 60px;

}
.leave__topic{
    font-weight: 700;
    font-size: 40px;
    color: #45260A;
    margin-top: 52px;
    margin-left: 20px;

}
.leave__subtopic{
    margin-top: 52px;
    width: 615px;
    font-weight: 400;
    font-size: 18px;
    color: #45260A;
    margin-left: 20px;
}
.leave__record{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.leave__name, .leave__email, .leave__option{
    display: flex;
    flex-direction: column;
}
.leave__title{
    font-weight: 500;
    font-size: 16px;
    color: #45260A;
}
.leave__where{
    font-weight: 500;
    font-size: 16px;
    color: #45260A;
    margin-left: 20px;
    margin-bottom: 5px;
}
.submit{
    margin-top: 20px;
    padding: 10px 90px;
    background: #45260A;
    border-radius: 9px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    margin-left:  35px;
}
input{
    background: #fff;
    border-radius: 8px;
    width: 298px;
    height: 45px;
    padding-left: 12px;
    font-weight: 400;
    font-size: 18px;
    margin-top: 5px;
}


.title--select{
    width: 298px;
    height: 45px;
    outline: none;
    padding-left: 12px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;

}
.please__option{

}
.leave__name, .leave__email{
    margin: 30px 20px;
    display: block;
}





